.logo
    position absolute
    width 120px
    height 31px
    line-height 31px
    text-align center
    background rgba(255, 255, 255, 0.2)
    color white
    font-weight 500
    left 80px
    top 18px
    font-size 30px

.content
    height: 700px
    margin 20px 50px
    background-color #fff