.logo
    position absolute
    width 120px
    height 31px
    line-height 31px
    text-align center
    background rgba(255, 255, 255, 0.2)
    color white
    font-weight 500
    left 80px
    top 18px
    font-size 30px

.menu
    line-height 64px
    position absolute
    left 225px

    a
        color rgba(181, 184, 188, 0.9)

        &:hover
            color #FFFFFF

nz-progress
    margin-right 8px
    margin-bottom 8px
    display inline-block